.inter_font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* share style */
.disply_flex{
    display: flex;
}

/* header section  */
.Bg_background{
background-color: #1A0B2E;
height: 92px;


}
.li_list{
display: flex;
gap: 70px;
list-style: none;
text-align: center;


}
.nav_bar {
display: flex;
color: white;
text-align: center;
justify-content: space-between;
align-items: center;
max-width: 1200px;
margin: 0 auto;
padding-top: 16px;
padding-bottom:auto;
padding-right:auto;
}

.btn {
  position: relative;
  height: 44px;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;

}
/* hero section style */
.Banner_hero{
background-color: #1A0B2E;
}

.Hero_section{

  background-image: url("/assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 760px;
}
.Hero_continer{

text-align: center;
height: 550px;
width: 558px;
justify-content: space-between;
padding-top: 100px;
padding-bottom: 100px;
padding-left: 525px;
padding-right: 525px;
align-items: center;
max-width: 1200px;
margin: 0 auto;

}
    .hero_heading{

        color: #FFFFFF;
        font-size: 60px;
        font-weight: 800px;
       
    }   

    .Hero_praprap{
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400px;
        
    }   
