.inter_font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* share style */
.disply_flex{
    display: flex;
}

/* header section  */
.Bg_background{
background-color: #1A0B2E;
height: 92px;


}
.li_list{
display: flex;
gap: 70px;
list-style: none;
text-align: center;


}
.nav_bar {
display: flex;
color: white;
text-align: center;
justify-content: space-between;
align-items: center;
max-width: 1200px;
margin: 0 auto;
padding-top: 16px;
padding-bottom:auto;
padding-right:auto;
}

.btn {
  position: relative;
  height: 44px;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;

}
/* hero section style */
.Banner_hero{
background-color: #1A0B2E;
}

.Hero_section{

  background-image: url("assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 760px;
}
.Hero_continer{

text-align: center;
height: 550px;
width: 558px;
justify-content: space-between;
padding-top: 100px;
padding-bottom: 100px;
padding-left: 525px;
padding-right: 525px;
align-items: center;
max-width: 1200px;
margin: 0 auto;

}
    .hero_heading{

        color: #FFFFFF;
        font-size: 60px;
        font-weight: 800px;
       
    }   

    .Hero_praprap{
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400px;
        
    }   
/* about section */

.About_the_Podcast {
    background-color: #1A0B2E;
    display: contents;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    
}
.About_continer {
    background-color: #1A0B2E;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 120px;
}

.about_heading{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700px;
}
.about_pragrap{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400px;
    line-height: 30px;
}
.abot_p2{

    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400px;
    line-height: 30px;
}
.about_list{
    display: contents;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
}
.about_list {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 40px;
  text-align: center;
  color: #fff;
}

.stat h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 6px;
}

.stat p {
  font-size: 16px;
  opacity: 0.85;
}
.counter_color{
    color: #00FF88;
    
}

.Why_Choose_TechWave{
background-color: #230E3D;
text-align: center;
padding-top: 120px;
padding-bottom: 120px;
padding-right: 200px;
padding-left: 200px;
}
.why_choose_heading{
    color: #FFFFFF;
    font-size: 45px;
    font-family: 700px;
    padding-bottom: 40px;
}
.why_choose_continer{
    display: flex;
    gap: 30px;}
    

.why_box_heading{
    color: #FFFFFF;
    font: size 24px;
    font-weight: 700;
}
.why_box_p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
/* why_continer style  */
.Continer_1{
    width: 380px;
    height: 480px;
    padding-top: 104px;
    padding-bottom: 104px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center; 
    text-align: center;
    background-color: #351165
}
.Continer_2{
    width: 790px;
    height: 225px;
    padding-top: 104px;
    padding-bottom: 104px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center; 
    text-align: center;
     background-color: #351165

}

/* feature  */

.feature_section {
  background-color: #1A0B2E;
  padding: 80px 0;

}

.feature_Continer {
    
    display: flex;
    gap: 40px; 
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;      
    text-align: center;
}


.card-box {
  max-width: 720px;
  background: #250D44;
  padding: 30px 40px;
  border-radius: 30px;
}

.video-box {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  border-radius: 20px;
}

.video-box iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


/* Meet the Host */

.meet_host{
    background-color: #1A0B2E;
    padding-top: 40px;
    padding-bottom: 50px;
}
.meet_host_heading{
    font-size: 48px;
    font-weight: 700px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 40px;
}
.meet_host_continer{
    background-color: #35116566;
    border-radius: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;      
    text-align: center;
}
.meet_title{
    color: #FFFFFF;
}
.meet_pragrap{
    color: #FFFFFF;
}
.meet_img{
    height: 200px;
    width: 200px;
    text-align: right;
}
.social_icon{
    gap: 30px;
}
.icon{
    gap: 10px;
}
